body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 20px;
}

.info {
    text-align: center;
    padding-bottom: 20px;
}

h2 {
    text-align: center;
    color: #444;
}

p {
    font-size: 16px;
    line-height: 1.6;
    margin: 20px 0;
}

.results {
    margin-top: 10px;
}

.results p {
    font-weight: bold;
    color:#360b51;
    font-size: 16px;
    text-align: center;
    margin: 0;
}

button {
    background-color: #9470ab;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #8954a9;
}

button:active {
    background-color: #722d9c;
}


table {
    width: 100%;
    border-collapse: collapse;
}

td,
th {
    border: 1px solid #000;
    padding: 12px;
    text-align: center;
}

th {
    background-color: rgb(97, 60, 121);
    color: white;
}

td {
    background-color: #f9f9f9;
}

.mark {
    background-color: #d1e7dd;
    font-weight: bold;
}
